.columns-feature > div {
  display: flex;
  flex-direction: column;
}

.columns-feature img {
  width: 100%;
}

.columns-feature > div > div {
  order: 1;
  padding: var(--spacing-s) 0;
}

.columns-feature > div > .columns-feature-img-col {
  order: 0;
}

.columns-feature > div > .columns-feature-img-col img {
  display: block;
  object-fit: cover;
}

.columns-feature h2 {
  font-size: var(--heading-font-size-l);
  font-weight: 325;
  margin-top: 0;
}

.columns-feature p {
  font-weight: 325;
  line-height: 1.5;
}

@media (width >= 900px) {
  .columns-feature > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--spacing-l);
  }

  .columns-feature > div > div {
    flex: 1;
    order: unset;
  }
}
